<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Coupons</h1>
    <% @coupons.each do |coupon| %>
    <p>
      <%= link_to coupon.coupon_code, coupon_path(coupon.id) %>
<%= coupon.store %>
    </p>
    <div class="container">

    </div>
    <% end %>
    <%= link_to "New", new_coupon_path  %>
  </body>
</html>
